// 将最小DPR为1.5手机进行缩放（实现真正1px)
// @media(-webkit-min-device-pixel-ratio:1.5),(-webkit-min-device-pixel-ratio:1.5)
// //.border-1px下面必须有缩进，不然回出错
//     .border-1px
//     &::after  
//         -webkit-transform:scaleY(0.7)
//         transform:scaleY(0.7)
        
// //将最小DPR为2手机进行缩放（实现真正1px
// @media(-webkit-min-device-pixel-ratio:2),(-webkit-min-device-pixel-ratio:2)
//     .border-1px
//     &::after  
//         -webkit-transform:scaleY(0.5)
//         transform:scaleY(0.5)